* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    --primary: #f9fbff;
    --secondary: #EBECF0;
    --tertiary: #A8C1F0;
    --quaternary: #4972bd;
    --button-color: #E2546D;

    --font-size: 20px;
}

body {
    background-color: var(--secondary);
    overflow-x: hidden;
    overflow-y: hidden;
}

footer {
    display: none;
    background-color: #d9dadd;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0%;
    padding: 0.5vh;
}

input, textarea {
    outline: none;
}
input {
    padding-left: 1vw;
}

#menu-win {
    height: 100vh;
    width: 40vw;
    float: left;
    font-size: 2vh;
}

#top-bar {
    background-color: var(--quaternary);
    width: 100%;
    height: 6%;
    padding: 1vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0 0 1.5vh 0;
    
}

.menu {
    background-color: var(--quaternary);
    width: 20%;
    position: absolute;
    left: 40%;
    top: 100%;
    border-radius: 2vh;
    user-select: none;

    padding: 2vh;

    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes menuTransition {
    0% {
        top: 100%;
    }
    100% {
        top: 18%;
    }
}
@keyframes menuExit {
    0% {
        top: 18%;
    }
    100% {
        top: 100%;
    }
}

.menu-el {
    background-color: var(--button-color);
    color: white;
    width: 70%; 
    height: 4vh;
    margin-bottom: 1vw;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vh;
    
    text-align: center;
    overflow: hidden;
    border-radius: 2vh;
}
.menu-el span {
    position: relative;
    top: 0.7vh;
}

.menu-top {
    text-align: center;
}

.menu-title {
    font-size: 4vh;
    color: white;
}
.menu-exit {
    float: right;
    font-size: 2.5vh;
    color: white;
}

.menu-text {
    color: white;
    text-align: center;
}

#info div {
    text-align: none;
}
#info div span .menu-text {
    text-align: none;
}

@keyframes blurTransition {
    0% { 
        display: block;
        backdrop-filter: blur(0px); }
    100% { 
        backdrop-filter: blur(4px); 
    }
}


#blur-bg {
    display: none;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    width: 100%;
    height: 100%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.top-button {
    background-color: var(--button-color);
    color: white;
    width: 15%; 
    margin-left: 0.5vw;

    text-align: center;
    overflow: hidden;
    user-select: none;

    border-radius: 1vh;
}

.top-button:hover, .menu-el:hover {
    background-color: #dc798b;
}

.top-button span {
    position: relative;
    top: 20%;
    bottom: 50%;
}


#search-input {
    width: 60%;
    font-size: 2vh;
    border-radius: 1vh;
    border-style: none;
    padding: 0;
    padding-left: 2vh;
}

#search-input::placeholder {
    text-align: center;
    padding-left: 0;
}

#note-list {
    background-color: var(--secondary);
    height: 94%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.note-el {
    background-color: var(--primary);
    width: 90%;
    height: 20vh;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 3%;
    user-select: none;

    border-radius: 1.5vh;
    box-shadow: 0 0.5vh 0.5vh 0vh #d3d4d6;
}
.active {
    background-color: #dadada;
}

.note-title {
    display: block;
    font-size: 3vh;
    font-weight: bold;
    width: 80%;
    height:3.5vh;
    overflow: hidden;
    resize:none;
}

.note-delete {
    color: #c2c3c4;
    float: right;
}

.note-content {
    height: 9.8vh;
    overflow: hidden;
}

.note-tag-list {
    display: flex;
    flex-direction: row;
    overflow-x: none;
    overflow-y: hidden;
    height: 2.4vh;
    font-family: cour;
}

.note-tag {
    background-color: var(--button-color);
    color: white;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-right: 0.5vw;
    text-align: center;
    border-radius: 2vh;
}

.tag-el {
    text-align: none;
}

.note-date {
    color: #c2c3c4;
    float: right;
}

.note-delete:hover, .menu-exit:hover {
    color: rgb(248, 63, 63);
}



#editor-win {
    height: 100vh;
    width: 59%;
    float: right;
}

#editor-title {
    width:100%;
    height: 8vh;
    font-size: 3vh;
    border: var(--secondary) 0.2vh solid;
    border-radius: 0 0 0 2vh;
}

#editor-text {
    display: block;
    font-size: var(--font-size);
    width: 100%;
    height: 87%;
    padding: 2vh;
    border-color: var(--secondary);
    border-radius: 2vh 0 0 0;
}




#format-options {
    background-color: var(--secondary);
    width: 100%;
    height: 5vh;
    border: var(--secondary) 0.2vh solid;
    user-select: none;

    display: flex;
    flex-direction: row;
}

.format-el {
    background-color: var(--primary);
    text-align: center;
    height: 80%;
    padding-left: 1vh;
    padding-right: 1vh;
    margin: auto 0.5vh auto 0.5vh;
    border-radius: 1vh;
    box-shadow: 0 0.2vh 0.5vh 0vh #d3d4d6;
    font-size: 1.7vh;
}

.format-el span {
    position: relative;
    top: 25%;
    bottom: 50%;
}

.format-button:hover, .format-sub-el:hover {
    background-color: #d8d8dc;
}

.format-el:hover .format-el-dropdown {
    display: block;
}

.dropdown:hover {
    animation-name: format-el-animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes format-el-animation {
    100% {
        padding-left: 0;
        padding-right: 0;
    }
}

.format-el-dropdown {
    position: relative;
    bottom: 50%;
    background-color: var(--primary);
    display: none;
    width: 10vw;
    height: 30vh;
    box-shadow: 0 0.5vh 0.5vh 0vh #d3d4d6;
    border-radius: 1.5vh;
    overflow-x: hidden;
    overflow-y: scroll;

    animation-name: format-el-dropdown-animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes format-el-dropdown-animation {
    0% {
        width: 0vw;
        height: 0vh;
    }
    50% {
        width: 10vw;
        height: 0vh;
    }
    100% {
        height: 25vh;
    }
}

.format-sub-el {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

#save {
    background-color: #75e491;
    padding-left: 3vh;
    padding-right: 3vh;
}
#save:hover {
    background-color: #baffcb;
}
#save.yellow-save {
    background-color: #f8f6a4;
}
#save.yellow-save:hover {
    background-color: #ffffe1;
}